body
{
    background-color: #000000;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : #ffffff;
    margin : 0;
    padding : 0;
    text-align : center;
}

h1
{
    color : #5865f2;
    margin-top : 50px;
    font-size : 50px;
}

p
{
    color : #2a2a2a;
    font-size : 20px;
}

.inputbox {
  background-color: #111;  
  color: white;             
  border: 1px solid #5865F2;
  padding: 20px;
  border-radius: 5px;
}

.inputbox:focus {
  outline: none;
  border: 1px solid #8a95ff; 
  box-shadow: 0 0 10px #5865f2;
}

textarea.inputbox {
    height: 100px;   /* taller */
}


.inputbox::placeholder {
  color: #aaa;             
}

button {
  background-color: #5865f2;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #5865f2;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  box-shadow: 0 8px 16px rgba(88, 101, 242, 0.6);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

.txt {
  display: flex;
  flex-direction: column;      /* stack heading + badges */
  gap: 20px;                   /* space between heading and badge row */
  justify-content: center;
  background: #0a0a0a;         /* container color */
  padding: 20px;
  box-shadow: 0 0 15px #5865f2;
  width: 40%;
  max-width: 800px;
  margin: 20px auto;
  color: #ffffff;              /* for heading/text inside container */
}

.fn, .mail , .bio, .skill
{
  text-align : left;
  font-weight : 500;
}