<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashLite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="profile">
      <form class="txt" action="/dashboard" method="POST">
        <h1>Create your profile</h1>
        <p>Join our community and start tracking your progress</p>
        <label class="fn">Full Name</label>
        <input
          type="text"
          name="name"
          class="inputbox"
          placeholder="John Doe"
          required
        />
        <br />

        <label class="mail">Email Address</label>
        <input
          type="email"
          name="email"
          class="inputbox"
          placeholder="john@example.com"
          required
        />
        <br />

        <label class="skill">Skill Level</label>
       <select id="skill" name="skill" class="inputbox">
  <option value="Beginner" {% if skill == "Beginner" %}selected{% endif %}>Beginner</option>
  <option value="Intermediate" {% if skill == "Intermediate" %}selected{% endif %}>Intermediate</option>
  <option value="Advanced" {% if skill == "Advanced" %}selected{% endif %}>Advanced</option>
</select>

        <label class="bio">Bio</label>
        <textarea
          name="message"
          class="inputbox"
          placeholder="Tell us a bit about yourself..."
          required
        ></textarea>

        <button type="submit" id="btn" style="margin-top: 10px">
          Create Profile ➔
        </button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>

